<!DOCTYPE html>
<html>
<head>
  <title>Trellino</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <span class="title">Trellino</span>
        </li>
      </ul>
      <% if current_user %>
        <div class="nav navbar-text navbar-right">
          Logged in as <%= current_user.email %>
        </div>
        <%= button_to "Log Out", session_url, method: :delete, class: "nav navbar-btn btn btn-primary navbar-right" %>
        </form>
      <% else %>
        <div class="nav navbar-btn btn btn-primary navbar-right">
          <%= link_to "Sign In", new_session_url %>
        </div>
      <% end %>
    </div>
  </nav>
  <%= yield %>

<div id="content" class="container">
</div>

<div class="overlay hidden">
</div>

</body>
</html>